<form action="/robots/<%= @robot.id %>" method="post">
  <p>Edit Your Robot:</p>

  <div>
    <input type="hidden" name="_method" value="PUT">
    <label for="name">Name</label>
    <input type='text' name='robot[name]' id="name" value="<%= @robot.name%>"><br/>
  </div>

  <div>
    <label for="city">City</label>
    <input type='text' name='robot[city]' id="city" value="<%= @robot.city%>"><br/>
  </div>

  <div>
    <label for="state">State</label>
    <input type='text' name='robot[state]' id="state" value="<%= @robot.state%>"><br/>
  </div>

  <div>
    <label for="birthdate">Birthdate</label>
    <input type='text' name='robot[birthdate]' id="birthdate" value="<%= @robot.birthdate%>"><br/>
  </div>

  <div>
    <label for="date_hired">Date Hired</label>
    <input type='text' name='robot[date_hired]' id="date_hired" value="<%= @robot.date_hired%>"><br/>
  </div>

  <div>
    <label for="department">Department</label>
    <input type='text' name='robot[department]' id="department" value="<%= @robot.department%>"><br/>
  </div>

  <input type='submit'/>

</form>
