<h1 class="robot">All Robots</h1>
<% @robots.each do |robot| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="<%= robot.avatar %>">
        <div class="caption">
          <h3 class="info"><%= robot.id %>: <a href='/robots/<%= robot.id %>'><%= robot.name %></a></h3>
          <p><a href="/robots/<%= robot.id %>/edit" class = "btn btn-primary" role="button">Edit</a>
            <form action="/robots/<%= robot.id %>" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="delete" class= "btn">
            </form>
          </p>
        </div>
      </div>
    </div>
<% end %>
