<a href="/robots">Robot Index</a>

<div><%= @robot.name %></div>
<div><%= @robot.city %></div>
<div><%= @robot.state %></div>
<div><%= @robot.avatar %></div>
<div><%= @robot.birthdate %></div>
<div><%= @robot.date_hired %></div>
<div><%= @robot.department%></div>
