<h1>Robot Index</h1>

<div><%= @robot.name %></div>
<div><%= @robot.city %></div>
<div><%= @robot.state %></div>
<div><%= @robot.birthdate %></div>
<div><%= @robot.date_hired %></div>
<div><%= @robot.department%></div>
